body{
    background-color: #ffecd2;
}

.myContainer{
    margin-top: 50px;
}

.profile-picture-container{
    height: 180px;
    width: auto;
}

.upload-image{
    margin-top: 32px;
}

.imgSexe{
    margin-right: auto;
    margin-left: auto;
}

#previewProfilePic{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

[type=radio] {
    position: absolute;
    left: -9999px;
}

[type=radio] + img {
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
}

[type=radio]:checked + img {
    border: 2px solid greenyellow;
}

textarea{
    resize : none;
    height: 100px;
    width: 100%;
}