body{
    background-color: #ffecd2;
}

.myContainer{
    margin-top: 50px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginPage{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.loginPageBtn{
    width: 150px !important;
}

.btn-login {
    display: block;
    margin: 20px auto 20px auto;
}

hr {
    width: 75%;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.toastLogin{
    color: red;
    font-weight: bold;
}