.myContainer{
    margin-top: 50px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginPage{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.loginPageBtn{
    width: 150px !important;
}

.btn-login {
    display: block;
    margin: 20px auto 20px auto;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.rectangle-bleu{
    background-color: aqua;
    height: 100%;
    width: 100%;
}

.upload-image{
    margin-top: 32px;
}

.imgSexe{
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border:solid 1px black;
    border-radius: 4px;
    padding: 5px;
}

.selected{
    box-shadow:0px 12px 22px 1px #333;
}

.sidebar {
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 15px;
    width: 100%;
    background-color: #DC3545;
    min-height: 100%;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leftsidebar {
    width: 100%;
    background-color: floralwhite;
    min-height: 100%;
    align-self: center;

}
html, body {
    height:100%;
}

table {
    font-size:13px;
}

.borderless {
    border:none;
    padding: 2px;
    margin-top: 2px;
}

td {
    align-content: center;
}

.fullrow {
    height: 100% !important;
    width: 100% !important;
}

.sanspadding {
    padding: 0px !important;
}

.picture {
    padding: 15px;
}

.row {
    margin: 0% !important
}

.match-picture-container,
.profile-picture-container{
    text-align: center;
    display: flex;
}

.profile-picture-container {
    height: 130px;
    width: 130px;
}

.match-picture-container{
    height: 350px;
    width: 350px;
}

.profile-picture-container img,
.match-picture-container img{
    margin: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
.classement {
    border-color: #DC3545;
}

.description {
    border: 1px solid floralwhite;
    text-align: justify;
    padding: 4px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    border-radius: 10px;
}

.matchRow {
    border: 1px solid #DC3545;
    margin-top: 25px;
    padding: 2px;
    font-weight: bolder;
    color: #333333;
    border-radius: 10px;
    width: 100%;
}





