<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meet Your Peufien</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/logo_small.png"/>

    <style>

        .maleUser {
            color: dodgerblue !important;
        }

        .femaleUser {
            color: deeppink !important;
        }

        .rankingTable {
            background-color: #DC3545;
            color: #FFFFFF;
        }

        .borderless {
            border: none;
        }

        .searchBar {
            border-color: #DC3545;
            outline-style: none;
        }

        .gras {
            font-weight: bold;
        }

    </style>

</head>
<body style="background-color: #FFFFFF; color: #DC3545;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{'/user/'+${connectedUser.id}}">
        <span>
                <strong>
                    MEET<span style="color: #DC3545" class="gras">YOUR</span>PEUFIEN
                </strong>
            </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{'/user/'+${connectedUser.id}}">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Classement<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" align="center" width="100%">
        <input class="form-control mb-2 mt-2 searchBar" width="100%" type="text" id="name" onkeyup="searchFunction()" placeholder="Chercher un nom ..." title="Type in a name">
    </div>
<div class="row">
    <table class="table table-hover borderless" id="rankingTable">
        <thead class="rankingTable">
        <tr>
            <th scope="col" style="text-align: center;">Rang</th>
            <th scope="col" style="text-align: center;">Elève</th>
            <th scope="col" style="text-align: center;">Côte</th>
            <th scope="col" style="text-align: center;">Promotion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iteratorStatus : ${allUsers}">
            <td scope="row" th:text="${iteratorStatus.index}+1" style="text-align: center;"></td>
            <td scope="row" style="text-align: center;" th:if="${user.sex} == 1"
                th:text="${user.firstName}+' '+${user.lastName}" th:class="femaleUser"/>
            <td scope="row" style="text-align: center;" th:if="${user.sex} == 0"
                th:text="${user.firstName}+' '+${user.lastName}" th:class="maleUser"/>
            <td scope="row" th:text="${user.grade}" style="text-align: center;"></td>
            <td scope="row" th:text="${user.promo}" style="text-align: center;"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<script>
    function searchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("name");
        filter = input.value.toUpperCase();
        table = document.getElementById("rankingTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>

</html>
