<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Meet your Peufien</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="shortcut icon" href="/img/logo_small.png"/>

</head>

<body>
  <div class="container myContainer">
    <img src="/img/logo.png" class="logo" alt="logo">

    <div class="loginPage">
      <form method="post" th:action="@{/login}" th:object="${user}">
        <div class="form-group">
          <label for="emailInput" color="black">E-mail</label>
          <input type="email" th:field="*{email}" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="XXX@mail.com" required>
          <input type ="hidden" th:field="*{sex}" th:value="0">
          <input type ="hidden" th:field="*{orientation}" th:value="0">
        </div>
        <p th:text="${toast}" class="toastLogin"></p>
        <button type="submit" class="btn btn-danger btn-login loginPageBtn">Se connecter</button>
      </form>
    </div>

    <hr>

    <div class="loginPage loginPageBtn">
      <a href="/new" class="btn btn-danger btn-login">Créer un profil</a>
    </div>

  </div>

</body>

</html>
