<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meet Your Peufien</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/user.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/logo_small.png"/>

    <style>
        a:hover {
            text-decoration: none;
            color: inherit;
            text-align: center;
        }

        .sidebarText {
            padding: 2px;
            color: floralwhite;
        }

        .maleUser {
            color: dodgerblue !important;
        }

        .femaleUser {
            color: deeppink !important;
        }

        .matchTable {
            font-size: .8em;
            margin-top: 12px !important;
            margin-bottom: 12px !important;
            margin: 0 auto;
            background-color: floralwhite;
            border-collapse: collapse;
            border-radius: 10px;
        }


    </style>

</head>

<body style="background-color: #FFFFFF; color: #DC3545;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <span>
                <strong>
                    MEET<span style="color: #DC3545;" class="gras">YOUR</span>PEUFIEN
                </strong>
            </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/'+${connectedUser.id}+'/classement'}">Classement</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="min-height: 100%;  padding: 0">
    <div class="row fullrow flex-grow-1">
        <div class="col-2 sanspadding">
            <div class="sidebar">
                <div class="row justify-content-center">
                    <img th:if="${(connectedUser.photo != null && !#strings.isEmpty(connectedUser.photo))}"
                         th:src="@{${'/image/' + connectedUser.photo}}" class="rounded-circle" width="130" height="130"
                         alt="user">
                    <img th:if="${(connectedUser.photo == null || #strings.isEmpty(connectedUser.photo))}"
                         th:src="@{${'/img/default_user.jpg'}}" class="rounded-circle" width="130" height="130"
                         alt="user">
                </div>
                <div class="row justify-content-center sidebarText"
                     th:text="${connectedUser.firstName}+' '+${connectedUser.lastName}"></div>
                <div class="row justify-content-center sidebarText"
                     th:text="${connectedUser.sex}==1 ? 'Femme - '+ ${connectedUser.age}+' ans' : 'Homme - ' + ${connectedUser.age}+' ans'"></div>
                <div class="row justify-content-center sidebarText" align="justified">Ta phrase d'accroche :</div>
                <div class="row justify-content-center sidebarText description" align="justified"
                     th:text="${connectedUser.description}"></div>

                <table class="table-hover fullrow matchTable">
                    <tr>
                        <th scope="col" style="text-align: center; ">Mes Matchs</th>
                        <th scope="col" style="text-align: center; ">Côte</th>

                    </tr>
                    <tr th:each="user : ${matchedUsers}">
                        <td scope="row" style="text-align: center;"
                            th:text="${user.firstName}+' '+${user.lastName}"></td>
                        <td scope="row" style="text-align: center;" th:text="${user.grade}"></td>
                    </tr>
                </table>

                    <div class="row justify-content-center">
                        <a th:href="@{'/user/'+${connectedUser.id}+'/modification'}" style="color: #333333"> <i
                                class="fa fa-pencil" style="color: #333333"></i> Modifier mon profil</a>
                    </div>
                    <div class="row justify-content-center">
                        <a th:href="@{'/user/'+${connectedUser.id}+'/delete'}" style="color: #333333"> <i
                                class="fa fa-trash-o" style="color: #333333"></i> Supprimer mon profil</a>
                    </div>
                    <div class="row justify-content-center">
                        <a th:href="@{'/login'}" style="color: #333333"> <i
                                class="fa fa-sign-out" style="color: #333333"></i> Déconnexion</a>
                    </div>

            </div>
        </div>

        <div class="col-8">
            <div class="row justify-content-center">
                <div class="form-control classement text-center mt-2" th:width="500px" th:height="500px">
                    <strong style="color: #DC3545" th:each="user, iteratorStatus : ${allUsers}"
                            th:if="${allUsers[iteratorStatus.index].id == connectedUser.id}"
                            th:text="'TON CLASSEMENT DANS L\'ECOLE : '+${iteratorStatus.index + 1} +'/' + ${#lists.size(allUsers)}"/>
                </div>
            </div>

            <div class="matchRow">
                <div class="row justify-content-center" th:text="'C\'EST LE MOMENT DE MATCHER !'"></div>
                <div class="row justify-content-center picture">
                    <img th:if="${(targetUser.photo != null && !#strings.isEmpty(targetUser.photo))}"
                         th:src="@{${'/image/' + targetUser.photo}}" class="rounded-circle" width="350" height="350"
                         alt="match">
                    <img th:if="${(targetUser.photo == null || #strings.isEmpty(targetUser.photo))}"
                         th:src="@{${'/img/default_user.jpg'}}" class="rounded-circle" width="350" height="350" alt="match">
                </div>


                <div class="row justify-content-center">
                    <div class="text-center" th:width="500px" th:height="500px">
                        <div style="color: black" th:if="${targetUser.firstName != null}"
                             th:text="${targetUser.firstName}+' '+${targetUser.lastName} + ' : &quot; ' + ${targetUser.description} + ' &quot;' "></div>
                        <div style="color: black" th:if="${targetUser.firstName == null}">Serial Matcher Va !<br> Plus
                            de
                            targets pour toi...
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-3">
                        <div class="text-center" th:width="70px" th:height="70px">
                            <form method="post" th:action="@{'/user/' + ${userID} + '/-1/' + ${targetUser.id}}">
                                <button type="submit" th:if="${targetUser.firstName != null}"
                                        class="btn btn-danger btn-login "> Même pas en rêve !
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="text-center" th:width="70px" th:height="70px">
                            <form method="post" th:action="@{'/user/' + ${userID} + '/1/' + ${targetUser.id}}">
                                <button type="submit" th:if="${targetUser.firstName != null}"
                                        class="btn btn-danger btn-login "> Peut-être qu'après quelques
                                    verres...
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="text-center" th:width="70px" th:height="70px">
                            <form method="post" th:action="@{'/user/' + ${userID} + '/2/' + ${targetUser.id}}">
                                <button type="submit" th:if="${targetUser.firstName != null}"
                                        class="btn btn-danger btn-login ">Laisse-moi croquer ta pêche !
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="text-center" th:width="70px" th:height="70px">
                            <form method="post" th:action="@{'/user/' + ${userID} + '/3/' + ${targetUser.id}}">
                                <button type="submit" th:if="${targetUser.firstName != null}"
                                        class="btn btn-danger btn-login "> Epouse moi !
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-2 sanspadding">
            <div class="leftsidebar">
                <div class="row">
                    <table class="table-hover bordeless fullrow">
                        <thead style="background-color: #DC3545; color: floralwhite">
                        <tr>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> Rang</th>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> TOP 10</th>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> Côte</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, iteratorStatus : ${topUsers}">
                            <td scope="row" th:text="${iteratorStatus.index}+1"
                                style="text-align: center; color: #333333;"
                                class="px-2 py-2"/>
                            <td scope="row" style="text-align: center;" th:if="${user.sex} == 1"
                                th:text="${user.firstName}+' '+${user.lastName}" th:class="femaleUser"/>
                            <td scope="row" style="text-align: center;" th:if="${user.sex} == 0"
                                th:text="${user.firstName}+' '+${user.lastName}" th:class="maleUser"/>
                            <td scope="row" style="text-align: center; color: #333333;" th:text="${user.grade}"
                                class="px-2 py-2"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table class="table-hover bordeless fullrow">
                        <thead style="background-color: #DC3545; color: floralwhite">
                        <tr>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> Rang</th>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> WORST 10</th>
                            <th scope="col" style="text-align: center;" class="px-2 py-2"> Côte</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, iteratorStatus : ${worstUsers}">
                            <td scope="row" th:text="${iteratorStatus.index}+1"
                                style="text-align: center; color: #333333;"
                                class="px-2 py-2"/>
                            <td scope="row" style="text-align: center;" th:if="${user.sex} == 1"
                                th:text="${user.firstName}+' '+${user.lastName}" th:class="femaleUser"/>
                            <td scope="row" style="text-align: center;" th:if="${user.sex} == 0"
                                th:text="${user.firstName}+' '+${user.lastName}" th:class="maleUser"/>
                            <td scope="row" style="text-align: center; color: #333333;" th:text="${user.grade}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
